__pycache__/
*.pyc
.git/
.gitignore
.env
.venv/
venv/
.ruff_cache/
__pycache__/
*.db
*.sqlite
*.pt
*.npz
build/*
!build/web/
!build/web/**
node_modules/
.dart_tool/
.idea/
.vscode/
android/
ios/
web/
windows/
linux/
macos/
test/
